@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.25rem;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  width: 800px;
  max-width: 80%;
  margin: 5rem auto 3rem;
  text-align: center;
  color: hsl(0, 0%, 59%);
}

header img { margin-bottom: 2rem; }
header h1 { font-weight: 300; font-size: 1.7rem; }
header h1 span { color: hsl(209, 33%, 12%); font-weight: 700; }
header p { color: hsl(209, 33%, 12%); font-size: 0.8rem; margin: 1.5rem; }

input {
  outline: none;
  width: 100%;
  padding: 1.1rem 2rem;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 2rem;
}
input[type='submit'] {
  border: none;
  background: hsl(223, 87%, 63%);
  color: #fff;
  font-weight: 600;
  margin-top: 0.8rem;
  cursor: pointer;
  box-shadow: 0 5px 10px hsla(223, 87%, 63%, 0.5);
  transition: opacity .6s ease;
}
input[type='submit']:hover { opacity: 0.7; }
form span {
  display: none;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  font-style: italic;
  color: hsl(354, 100%, 66%);
}
main img { width: 100%; margin: 4rem auto 5rem; }

footer p { font-size: 11px; margin: 1.2rem; }
footer .links-rx { margin-bottom: 2rem; }
footer .links-rx a {
  color: hsl(223, 87%, 63%);
  text-decoration: none;
  margin: 0.5rem;
  padding: 0.8rem;
  border: 1px solid hsl(0, 0%, 59%);
  border-radius: 50%;
}

@media (min-width: 700px) {
  header h1 { font-size: 3rem; }
  header p { font-size: 1.25rem; margin: 2rem; }
  
  form { display: flex; }
  .form-group { flex: 70%; margin-right: 1.5rem; text-align: left;}
  .form-group span { margin-left: 2rem; }
  input[type='submit'] { flex: 0 0 30%; margin-top: 0; align-self: flex-start; }

  footer p { font-size: 13px; }
}
